<?xml version="1.0" encoding="UTF-8" ?>
<orm-mapping>
    <class name="entity.Stu" table="Demo01">
        <id name="id" column="SId"/>
        <select name = "name" column="Sname"/>
        <property name = "name" column="Sname"/>
        <property name="age" column="Sage"/>
    </class>
</orm-mapping>